* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* Свойства для сброса начальных стилей элементов */
}

body {
  font-family: "Inter", sans-serif;
  color: #303030;
}

header {
  background: #2965f1;
  padding: 23px 0px;

  /* Стили для хедера */
}

header span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
  background-color: #fafaff;
  padding: 60px 0px;

  /* Стили для первой секции */
}

.main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.1px;
  margin-bottom: 20px;
  /* Стили для заголовка в первой секции */
}

.main-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  /* Стили для текста в первой секции */
}

.main-image {
  max-width: 715px;
  /* Стили для изображения в первой секции */
}

.about-section {
  background: #ffffff;
  padding: 100px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.4px;
  /* Стили для второй секции */
}

select {
  background: url(./assets/images/ep-arrow-down.svg) no-repeat right 10px top
    50%;
  appearance: none;
  width: 150px;
  border: 1px solid #3030304d;
  border-radius: 5px;
  padding: 9px 12px;
  font-family: inherit;
  /* Стили для выпадающего списка */
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  margin-bottom: 25px;
  /* Стили для заголовков во второй секции */
}

.frameworks-list {
   list-style-image: url(./assets/images/solar-map-arrow-up-bold.svg);
   margin-left: 25px;
   /* ??? */
  /* Стили для маркированного списка во второй секции */
}

.books-list {
  margin: 0px 20px;
  /* Стили для нумерованного списка во второй секции */
}

.label {
   /* Стили для подписей чекбоксов */
}

.text-field {
  width: 318px;
height: 36px;
border-radius: 5px;
border: 1px solid #3030304D;
padding-left: 12px;
/* ??? */
/* Стили для односточного поля ввода текста */
}

.btn {
  width: 125px;
height: 36px;
border-radius: 5px;
background: #2965F1;
color: #FFFFFF;
font-size: 14px;
font-weight: 700;
line-height: 16.94px;
border: none;
  /* Стили для кнопки */
}

.line {
  border: 1px solid #3030304D;
  margin: 60px 0px;
/* Стили для линии */
}

table {
  /* Стили для таблицы */
}

th,
td {
  /* Стили для ячеек таблицы */
}

footer {
  /* Стили для футера */
}

.footer-link {
  /* Стили для футера */
}
