* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* Свойства для сброса начальных стилей элементов */
}

body {
  font-family: "Inter", sans-serif;
  color: #303030;
}

header {
  background: #2965f1;
  padding: 23px 0px;

  /* Стили для хедера */
}

header span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
  background-color: #fafaff;
  padding: 60px 0px;

  /* Стили для первой секции */
}

.main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.1px;
  margin-bottom: 20px;
  /* Стили для заголовка в первой секции */
}

.main-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  /* Стили для текста в первой секции */
}

.main-image {
  width: 715px;
  height: 508px;
  /* Стили для изображения в первой секции */
}

.about-section {
  background: #ffffff;
  padding: 100px 0px;
  /* Стили для второй секции */
}

select {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.4px;
  border: 1px solid #3030304d;
  border-radius: 5px;
  padding: 9px 12px;
  font-family: inherit;
  /* Стили для выпадающего списка */
}

.section-title {
  /* Стили для заголовков во второй секции */
}

.frameworks-list {
  /* Стили для маркированного списка во второй секции */
}

.books-list {
  /* Стили для нумерованного списка во второй секции */
}

.label {
  /* Стили для подписей чекбоксов */
}

.text-field {
  /* Стили для односточного поля ввода текста */
}

.btn {
  /* Стили для кнопки */
}

.line {
  /* Стили для линии */
}

table {
  /* Стили для таблицы */
}

th,
td {
  /* Стили для ячеек таблицы */
}

footer {
  /* Стили для футера */
}

.footer-link {
  /* Стили для футера */
}
